@model LonghornBankWebApp.Models.StockType

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.StockTypeName Stock List</h1>

@section containerbottom{

    <div class="container min-vh-100 mt-4">
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.StockTypeName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StockTypeName)
                </dd>
            </dl>

            <table class="table table-bordered">
                <tr>
                    <th>
                        Stock Name
                    </th>
                    <th>
                        Stock Symbol
                    </th>
                    <th>
                        Stock Price
                    </th>
                    @foreach (Stock st in Model.Stocks)
                    {
                    <tr>
                        <td>
                                @st.StockName
                        </td>
                        <td>
                                @st.TickerSymbol
                        </td>
                        <td>
                                @st.CurrentPrice
                        </td>
                    </tr>
                    }
                </tr>
            </table>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.StockTypeID">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
        
    </div>
}

