@model IEnumerable<LonghornBankWebApp.Models.StockPortfolio>

@{
    ViewData["Title"] = "AllPortfolios";
}


<h1>All Stock Portfolios</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PortfolioNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortfolioName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortfolioValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashValuePortion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalBonuses)
            </th>
        </tr>
    </thead>
    @foreach (StockPortfolio item in Model)
    {
        <tbody>
            <tr>
                @if (item.PortfolioNumber.ToString().Length < 10)
                {
                    <td>0</td>
                }
                else
                {
                    <td>
                        @item.PortfolioNumber.ToString().Substring(item.PortfolioNumber.ToString().Length - 4)
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.PortfolioName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PortfolioValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashValuePortion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalBonuses)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.StockPortfolioID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StockPortfolioID">Details</a>
                </td>
            </tr>
        </tbody>

    }




