@model IEnumerable<LonghornBankWebApp.Models.AppUser>

@{
    ViewData["Title"] = "User Index";
}

<h2>User Index</h2>
<hr />

@section containerbottom{

    <div class="container min-vh-100 mt-4">
        <form asp-action="AccountIndex" method="get">
            <p class="form-group">
                Search: <input name="username" class="form-control" /><br />
                <button type="submit" class="btn btn-primary">Search</button>
                <a asp-action="AccountIndex" class="btn btn-danger">Show All</a>
                <a asp-action="Index" class="btn btn-warning">Back</a>
            </p>
        </form>
        <p>Displaying @ViewBag.SelectedUsers of @ViewBag.AllUsers Customers.</p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().UserName)
                    </th>
                    <th>
                        Full Name
                    </th>
                    <th>
                        Active?
                    <th>
                        Modify
                    </th>
                    <th>
                        Password
                    </th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.MidIntName) @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @if (item.IsActive == false)
                            {
                                <p>No</p>
                            }
                            else
                            {
                                <p>Yes</p>
                            }
                        </td>

                        <td>

                            <a asp-action="AccountDetails" asp-route-user="@item.UserName" class="btn btn-primary">Modify Profile</a>

                        </td>

                        <td>

                            <a asp-action="ChangePassword" asp-route-user="@item.UserName" class="btn btn-primary">Change Password</a>

                        </td>
                    </tr>

                }


            </tbody>

        </table>
        
    </div>
}
