@model IEnumerable<LonghornBankWebApp.Models.AppUser>

@{
    ViewData["Title"] = "Master Bank Account Index";
}

<h2>Customer Index</h2>


<form asp-action="BaIndex" method="get">
    <p class="form-group">
        Search: <input name="username" class="form-control" /><br />
        <button type="submit" class="btn btn-primary">Search</button>
        <a asp-action="BaIndex" class="btn btn-danger">Show All</a>
        <a asp-action="Index" class="btn btn-warning">Back</a>
    </p>
</form>

<p>Displaying @ViewBag.SelectedUsers of @ViewBag.AllUsers Customers.</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().UserName)
            </th>
            <th>
                Full Name
            </th>
            <th>
                Has Accounts?
            </th>
            <th>
               Bank Accounts
            </th>
        </tr>
    </thead>

    <tbody>
        
    @foreach (var item in Model)
        {
            
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.MidIntName) @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td>
                @if (item.UserHasAccount == false)
                {
                    <p>No</p>
                }
                else
                {
                    <p>Yes</p>
                }
            </td>
        <td>
            @if (item.UserHasAccount == true)
            {
                <a asp-action="BaDetails"  asp-route-user="@item.UserName" class="btn btn-primary">Toggle Accounts</a>
            }
        </td>
    </tr>
   
        }
        
        
    </tbody>

</table>