@model IEnumerable<LonghornBankWebApp.Models.Transaction>

@{
    ViewData["Title"] = "Pending Tasks";
}

<h1 class="text-center mb-4">Pending Tasks</h1>

<div class="text-center row">
    <div class="col">
        <h2>Transactions</h2>
        <p>@ViewBag.PendingTrans pending transactions awaiting attention</p>
        <a asp-action="PendingTrans" class="btn btn-primary">View</a>
    </div>
    <div class="col">
        <h2>Disputes</h2>
        <p>@ViewBag.Disputes disputes awaiting attention</p>
        <a asp-action="PendingDisputes" class="btn btn-primary">View</a>

    </div>
    <div class="col">
        <h2>Stock Portfolios</h2>
        @*<p>@ViewBag.Disputes disputes awaiting attention</p>*@
        @*TODO: show a list of times that portfolios were processed and by which admin*@

        @if (ViewBag.mostRecent != null)
        {
            <p class="text-success">Most recently processed on @ViewBag.mostRecent.DateProcessed.ToString("MM-dd-yyyy") by @ViewBag.mostRecent.ProcessedBy</p>

        }

        <a class="btn btn-warning" asp-action="DisplayProcessing">View previous processings</a>
        <a asp-action="ProcessPortfolios" class="btn btn-primary">Process</a>
    </div>
    <div class="col">
        <h2>Messages</h2>
        <p>@ViewBag.Messages messages awaiting attention</p>
        <a asp-action="Index" asp-controller="Messages" class="btn btn-primary">View</a>
    </div>


</div>


<div class="text-center row">
    

</div>

