@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity
@using LonghornBankWebApp.Controllers
@using LonghornBankWebApp.Models
@inject UserManager<AppUser> userManager;
@inject IHttpContextAccessor _context;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet"/>
    <!-- Custom Format-->
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/app.min.css" rel="stylesheet" />
    <script src="~/js/app.min.js"></script>

    
    
</head>
<body>
    <!--This is the code for the navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(191, 87, 0)">
        <div class="container-fluid">

            <!--This is the code for the "hamburger menu" button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!--This is the link to the home page - you can leave this as is -->
            <a asp-controller="Home" asp-action="Index" class="navbar-brand "><i class="fa fa-home"></i></a>

            @{
                var user = await userManager.GetUserAsync(_context.HttpContext.User);
                
            }
            <!--everything in this section will collapse when the screen is small -->
            <div class="collapse navbar-collapse" id="nav-content">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!--TODO: Consider what navbar should have -->


                    @if (User.IsInRole("Customer") && @user.UserHasAccount)
                    {
                        <li class="nav-item">
                            <a asp-controller="BankAccounts" asp-action="Index" class="nav-link">Accounts</a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Transactions" asp-action="Index" class="nav-link">Transactions</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Stock Portfolio</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="StockPortfolio" asp-action="Index" >Home</a></li>
                                <li><a class="dropdown-item"  asp-controller="Stocks" asp-action="Index">Stock Offerings</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-controller="StockTransactions" asp-action="Create">Buy Stock</a></li>
                                <li><a class="dropdown-item" asp-controller="StockTransactions" asp-action="SellStock" asp-route-name ="@user.Email">Sell Stock</a></li>

                            </ul>
                        </li>


                    }
                    @if (User.IsInRole("Customer") && @user.UserHasAccount == false)
                    {
                        <li class="nav-item">
                            <a asp-controller="BankAccounts" asp-action="Create" class="nav-link">Open Checkings, Savings, or IRA Account</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="StockPortfolio" asp-action="Index" class="nav-link">Open Stock Portfolio</a>
                         </li>
                    }

                    @if (User.IsInRole("Customer")){
                        <li class="nav-item">
                            <span class="badge badge-pill" style="float:right;margin-bottom:-12px; background-color:red"></span>
                            <a asp-action="Index" asp-controller="Messages" class="nav-link">Alerts</a>
                        </li>
                        
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a asp-controller="BankAccounts" asp-action="Index" class="nav-link">Accounts</a>
                        </li>
@*
                        <li class="nav-item">
                            <a asp-controller="Transactions" asp-action="Index" class="nav-link">Transactions</a>
                        </li>*@
                        
                       
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Manage
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropDown1">
                                <li>
                                    <a asp-controller="RoleAdmin" asp-action="Index" class="dropdown-item">Manage Users</a>
                                </li>
                                <li>
                                    <a asp-controller="RoleAdmin" asp-action="ManageTask" class="dropdown-item">Manage Tasks</a>
                                </li>
                            </ul>
                        </li>



                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Stocks
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a asp-controller="StockTypes" asp-action="Index" class="dropdown-item">Stock Types</a>
                            </li>
                            <li>
                                <a asp-controller="Stocks" asp-action="Index" class="dropdown-item">Stock Offerings</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-action="Create" asp-controller="Stocks">Add Stock</a></li>
                            <li><a class="dropdown-item" asp-action="Create" asp-controller="StockTypes">Add Stock Type</a></li>
                            
                          </ul>
                        </li>

                        <li class="nav-item">
                            <span class="badge badge-pill" style="float:right;margin-bottom:-12px; background-color:red"></span>
                            <a asp-action="Index" asp-controller="Messages" class="nav-link">Inbox</a>
                        </li>
                     
                    }

                    @if (User.IsInRole("Employee") && @user.IsActive)
                    {
                        <li class="nav-item">
                            <a asp-controller="RoleAdmin" asp-action="Index" class="nav-link">Manage Users</a>
                        </li>
                        @*<li class="nav-item">
                            <a asp-controller="Transactions" asp-action="Index" class="nav-link">Transactions</a>
                        </li>*@
                        <li class="nav-item">
                            <a asp-controller="BankAccounts" asp-action="Index" class="nav-link">Accounts</a>
                        </li>
                        <li class="nav-item ">
                            <a asp-controller="Stocks" asp-action="Index" class="nav-link">Stock Offerings</a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated == false)
                    {
                        <li class="nav-item ">
                            <a asp-controller="Stocks" asp-action="Index" class="nav-link">Stock Offerings</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="HowTo" class="nav-link">How to Use</a>

                        </li>
                    }

                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>

        </div>
    </nav>

    <!-- Used for pages that need full page length-->
    @RenderSection("container", required: false)

    <!-- Used for pages that need full page width-->
    @RenderSection("containerFluid", required: false)

    
    <!--this is the main content section of the website (does not use full page width) -->
    <div class="container">
        <!--NOTE: This is where the code from the main view is inserted -->
        @RenderBody()
    </div>
    <!-- Used for pages that need full page length below the body-->
    @RenderSection("containerbottom", required: false)

    <!--This code references different script libraries to make your page responsive -->
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Scripts", required: false)
    
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("GetNumberOfMessages", "Messages")',
                type: 'GET',
                success: function (data) {
                    if (data > 0) {
                        $(".badge").text(data);
                    }
                   
                }
            });

        });

    </script>
    <footer class="text-lg-start">
        <div class="text-center text-white p-3 bg-secondary">
            © 2022 Longhorn Bank & Trust Corp
        </div>
    </footer>
</body>
</html>