@model IEnumerable<LonghornBankWebApp.Models.StockTransaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@section containerbottom{

    <div class="container min-vh-100 mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StockTransactionID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PricePerShare)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumberOfShares)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StockTransactionType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StockTransactionNotes)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StockTransactionNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PricePerShare)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfShares)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransactionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StockTransactionType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StockTransactionNotes)
                        </td>
                        <td>
                            <a asp-action="StockTransDetails" asp-route-id="@item.StockTransactionID">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
}
