@model LonghornBankWebApp.Models.StockTransaction



@{

    ViewData["Title"] = "Order Summary";

}


<h1>Sale Summary</h1>

<div class="row">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.StockName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.StockName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfShares) to Sell
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfShares)
        </dd>
        <dt class="col-sm-2">
            Shares Remaining
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Remaining
        </dd>
        <dt class="col-sm-2">
            Associated Fees
        </dt>
        <dd class="col-sm-10">
            $15 Transaction fee <br />
            <small><small>*one time payment per transaction</small></small>
        </dd>
        <dt class="col-sm-2">
            Net Profit
        </dt>
        <dd class="col-sm-10">
            @ViewBag.GainOrLoss
        </dd>
    </dl>
    <dl class="row">
        <div class="alert alert-success" role="alert">
            Purchase has been completed successfully!
        </div>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Index" asp-controller="StockPortfolio">Portfolio</a>
</div>